@charset "utf-8";

:root {
  --color-01: #ffffff;
}
body {
  font-size: 20px;
  /* color:var(--color-01) */
}
/*=============================================== font-size */
h1 {
  font-size: 64px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
/*=============================================== 공용 */
.flex-column {
  flex-direction: column;
}
strong {
  font-size: 4rem;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.d-flex {
  display: flex;
}
.container {
  max-width: 1440px;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.hidden {
  overflow: hidden;
}
.d-none {
  display: none;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-24 {
  gap: 24px;
}
.pt-1 {
  padding: 1rem 0;
}
.pt-2 {
  padding: 2rem 0;
}
.pt-3 {
  padding: 3rem 0;
}
.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-3 {
  margin: 3rem 0;
}
.mt-4 {
  margin: 4rem 0;
}
.mt-5 {
  margin: 5rem 0;
}
.mt-6 {
  margin: 6rem 0;
}
.mt-7 {
  margin: 7rem 0;
}
.mt-8 {
  margin: 8rem 0;
}
.mt-9 {
  margin: 9rem 0;
}
.mt-10 {
  margin: 10rem 0;
}
.mt-12 {
  margin: 12rem 0 0 0;
}
.font-125 {
  font-size: 1.25rem;
}
.center-line {
  text-decoration: line-through;
}

.all_container {
  top: 1000px;
  height: 100%;
  background: var(--color-01);
  z-index: 10;
}
/* ==============================================header */
.nav_bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  color: var(--color-01);
  padding: 2rem 0;
  z-index: 100;
}
.nav {
  width: 40%;
  margin: 0 1rem;
  white-space: nowrap;
  text-transform: uppercase;
}
.header {
  overflow: hidden;
  height: 1000px;
}
.header_bg video {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.header_text {
  color: var(--color-01);
  top: 84px;
}
/* ==============================================desing */
.design_tab h4 {
  text-transform: uppercase;
  font-weight: bold;
}
.design_title {
  margin: 52px 0;
  text-transform: uppercase;
}
.sns_design > li,
.page_design > li {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* ==============================================web */
.web h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 126px 0 50px 0;
}
/* .tool_icons {
    margin: 0 0 0 48px ;
  } */
.tool_icons > li {
  border-radius: 10px;
  overflow: hidden;
}
/* ==============================================info */
.info h4 {
  text-transform: uppercase;
  font-weight: bold;
}
/* ==============================================footer */
.footer h4 {
  text-transform: uppercase;
  font-weight: bold;
}
