@charset "utf-8";

:root {
  --color-01: #ffffff;
  --color-02: #d6d6d6;
  --color-03: #949494;
}
body {
  font-size: 20px;
  /* color:var(--color-01) */
}
/*=============================================== font-size */
h1 {
  font-size: 64px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
/*=============================================== 공용 */

strong {
  font-size: 4rem;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.container {
  max-width: 1440px;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-between {
  align-items: space-between;
}
.align-ccenter {
  align-content: center;
}
.align-cbetween {
  align-content: space-between;
}
.align-cfe {
  align-content: flex-end;
}
.text-center {
  text-align: center;
}
.hidden {
  overflow: hidden;
}
.d-none {
  display: none;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-24 {
  gap: 24px;
}
.pt-1 {
  padding: 1rem 0;
}
.pt-2 {
  padding: 2rem 0;
}
.pt-3 {
  padding: 3rem 0;
}
.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-3 {
  margin: 3rem 0;
}
.mt-4 {
  margin: 4rem 0;
}
.mt-5 {
  margin: 5rem 0;
}
.mt-6 {
  margin: 6rem 0;
}
.mt-7 {
  margin: 7rem 0;
}
.mt-8 {
  margin: 8rem 0;
}
.mt-9 {
  margin: 9rem 0;
}
.mt-10 {
  margin: 10rem 0;
}
.mt-12 {
  margin: 12rem 0 0 0;
}
.font-125 {
  font-size: 1.25rem;
}
.center-line {
  text-decoration: line-through;
}
.height-100 {
  height: 100%;
}
.text-upp{
  text-transform: uppercase;
}

.all_container {
  top: 1000px;
  height: 100%;
  background: var(--color-01);
  z-index: 10;
}
/* ==============================================header */
.nav_bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  color: var(--color-01);
  padding: 2rem 0;
  z-index: 100;
}
.nav {
  width: 40%;
  margin: 0 1rem;
  white-space: nowrap;
  text-transform: uppercase;
}
.header_bg video {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.header_text {
  color: var(--color-01);
  top: 220px;
}
/* ==============================================desing */
.design_tab h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding: 2rem 0 0 0;
}
.design_title {
  margin: 52px 0;
  text-transform: uppercase;
}
.sns_design > li,
.page_design > li {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
/* ==============================================web */
.web h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 126px 0 50px 0;
}
.web_pofol {
  height: 576px;
}
.web_img {
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.web_img:hover {
  border-radius: 50px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
}
.web_text {
  flex-wrap: wrap;
  height: 576px;
}
.tool_icons > li {
  border-radius: 10px;
  overflow: hidden;
}
.web_btns {
  width: 571px;
  margin: 6rem 0 0 0;
  right: 0%;
  gap: 1rem;
}
.web_btns li {
  text-align: center;
  width: 200px;
  padding: 1rem 0;
  background: var(--color-03);
  border-radius: 10px;
}
.desktop {
  top: 68%;
  left: 25%;
}
.phon {
  top: 93%;
  left: 48%;
}
/* ==============================================info */
.info {
  margin: 15rem 0 0 0;
}
.info h4 {
  text-transform: uppercase;
  font-weight: bold;
}
.info_left h5 {
  margin: 2rem 0 0 0;
  width: 452px;
}
.slogan {
  margin: 0 0 2rem 0;
}
.profile_img {
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.ens {
  margin: 0 0 0 3rem;
}
.exp {
  height: 100%;
}
.exp h5:nth-last-child(1) {
  margin: 0 0 1rem 0;
}
.exp p {
  color: var(--color-03);
  font-size: 16px;
  font-weight: bold;
}
/* .skill {
  bottom: 0%;
} */
.skill img {
  border-radius: 10px;
}
/* ==============================================footer */
.footer {
  margin: 6rem 0 0 0;
  color: var(--color-01);
}
.footer_bg {
  padding: 2rem 0;
  background: #000;
}
.footer h4 {
  text-transform: uppercase;
  font-weight: bold;
}
.footer_container {
  height: 300px;
}
.footer_left ul {
  height: 215px;
}
.sns_icons li {
  background: var(--color-01);
  width: 95px;
  height: 95px;
  border-radius: 100px;
  margin: 2rem 0;
}
.sns_icons li:nth-child(2) {
  margin: 2rem;
}

.footer_logo {
  right: 0%;
}