@charset "utf-8";

:root {
  --color-01: #ffffff;
  --color-02: #d6d6d6;
  --color-03: #949494;
  --color-04: #333;
  --font-color: #333;
  --gb-color: #f9e4d5;
}
body {
  font-size: 20px;
  font-family: "My Soul", cursive;
  font-family: "Noto Sans KR", sans-serif;
  // color:var(--color-01)
}
/*=============================================== font-size */
h1 {
  font-size: 64px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
/*=============================================== 공용 */

strong {
  font-size: 4rem;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.container {
  max-width: 1440px;
}
.margin-auto {
  margin: 0 auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: end;
}
.align-between {
  align-items: space-between;
}
.align-ccenter {
  align-content: center;
}
.align-cbetween {
  align-content: space-between;
}
.align-cfe {
  align-content: flex-end;
}
.text-center {
  text-align: center;
}
.hidden {
  overflow: hidden;
}
.d-none {
  display: none;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-24 {
  gap: 24px;
}
.pt-1 {
  padding: 1rem 0;
}
.pt-2 {
  padding: 2rem 0;
}
.pt-3 {
  padding: 3rem 0;
}
.mt-1 {
  margin: 1rem 0;
}
.mt-2 {
  margin: 2rem 0;
}
.mt-3 {
  margin: 3rem 0;
}
.mt-4 {
  margin: 4rem 0;
}
.mt-5 {
  margin: 5rem 0;
}
.mt-6 {
  margin: 6rem 0;
}
.mt-7 {
  margin: 7rem 0;
}
.mt-8 {
  margin: 8rem 0;
}
.mt-9 {
  margin: 9rem 0;
}
.mt-10 {
  margin: 10rem 0;
}
.mt-12 {
  margin: 12rem 0 0 0;
}
.font-125 {
  font-size: 1.25rem;
}
.center-line {
  text-decoration: line-through;
}
.height-100 {
  height: 100%;
}
.text-upp {
  text-transform: uppercase;
}

.all_container {
  top: 1000px;
  height: 100%;
  background: url(../images/pattern2.png) var(--color-01);
  width: 100%;
  height: 100%;
  z-index: 10;
}
html {
  scroll-behavior: smooth;
}
/*===================================popup*/
.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  .popup_imgs {
    div {
      height: 100%;
      width: 50%;
      overflow: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .leafl {
      width: 100%;
    }
    .movie {
      width: 80%;
    }
    img {
      width: 100%;
      vertical-align: top;
    }
  }
}
/* ==============================================header */
.nav_bg {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 70px;
  box-sizing: border-box;
  color: var(--color-01);
  z-index: 100;
}
.nav {
  font-weight: bold;
  height: 100%;
  white-space: nowrap;
  text-transform: uppercase;
  li {
    width: 130px;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    a {
      display: block;
      width: 100%;
      height: 70px;
      line-height: 70px;
      transition: all 300ms ease-in-out;
      box-sizing: border-box;
    }
    a:hover {
      border-bottom: 5px solid var(--color-01);
    }
  }
}
// .header_bg video {
//   width: 100%;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: -1;
// }
.header_bg {
  background: var(--gb-color);
  width: 100%;
  height: 1000px;
}
.header_text {
  color: var(--color-0);
  top: 220px;
  left: 32%;
  transform: translateX(-50%);
  h1 {
    padding: 0 0 2.5rem 0;
  }
}

.tag_imgs {
  left: 33%;
  top: 20%;
  img {
    position: absolute;
    width: 60%;
  }
}
.center {
  position: relative;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 100px;
  .arrow_bottum {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 6px;
    border-radius: 30px;
    background: var(--font-color);
    animation: animate 2s infinite;
  }
  .arrow_bottum::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    border-bottom: 6px solid var(--font-color);
    border-right: 6px solid var(--font-color);
    transform: rotate(45deg);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(50px);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}

// header-ani
.arrow {
  top: 10%;
  transform: translate(-85%);
  animation: left 2s;
}
.tag_imgs {
  width: 100%;
  height: 100%;
  img:nth-child(1) {
    display: block;
    animation: top 2s;
  }
  img:nth-child(2) {
    animation: left 2s;
  }
  img:nth-child(3) {
    animation: right 2s;
  }
  img:nth-child(4) {
    animation: right_top 2s;
  }
  img:nth-child(5) {
    animation: fade_in 2s;
  }
  img:nth-child(6) {
    animation: hanchaewoong 2s;
  }
}

@keyframes top {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes topback {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0;
  }
}

@keyframes left {
  0% {
    left: -30%;
    // transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    left: 0%;
    // transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes leftBack {
  0% {
    // transform: translateX(0%);
    left: 0%;
    opacity: 1;
  }
  100% {
    // transform: translateX(-30%);
    left: -30%;
    opacity: 0;
  }
}

@keyframes right {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes rightBack {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(30%);
    opacity: 0;
  }
}

@keyframes right_top {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes right_topBack {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
    opacity: 0;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_inBack {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hanchaewoong {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  50% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes hanchaewoongBack {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(10%);
    opacity: 0;
  }
}

// header-ani

/* ==============================================desing */
.design_tab h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding: calc(2rem + 84px) 0 0 0;
}
.design_title {
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  li {
    cursor: pointer;
  }
}
.main_content h5 {
  font-weight: bold;
  padding: 0 0 2rem 0;
}
.main_content ul:nth-child(1) {
  li {
    width: 333px;
    height: 333px;
  }
}
.design_contents ul {
  li {
    position: relative;
    box-sizing: border-box;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all 300ms;
    overflow: hidden;
  }
}
.design_contents ul > li:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.design_contents ul > li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-in-out;
  width: 100%;
}

.design_contents h5 {
  text-transform: uppercase;
}
.design_title > li {
  background: var(--color-03);
  border-radius: 100px;
  color: var(--color-01);
  padding: 0.3rem 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.design_title > .on {
  background: var(--color-01);
  color: #333;
}
.main_content {
  margin: 2rem 0 0 0;
  li {
    width: 333px;
    height: 333px;
    background: var(--color-01);
    position: relative;
  }
  .page_design li {
    width: 452px;
    height: 858px;
    img {
      position: absolute;
      top: 0%;
      transform: translate(-50%, 0%);
    }
  }
  .leaflet_design,
  .popart_design {
    gap: 6rem;
  }
  .popart_design {
    li {
      img {
        position: absolute;
        top: 0%;
        transform: translateX(-50%);
      }
    }
  }
  .magazine_design li {
    width: 800px;
  }
}
hr {
  margin: 2rem 0 0 0;
  border: 1px dashed var(--color-03);
}

/* ==============================================web */
.web {
  padding: 84px 0 0 0;
}
.web h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 2rem 0 50px 0;
}
.web_pofol {
  height: 576px;
}
.web_img {
  position: relative;
  width: 576px;
  height: 576px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 300ms;
  img {
    position: absolute;
    width: 100%;
  }
}

.web_img:hover {
  border-radius: 50px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.8);
}
.web_text {
  flex-wrap: wrap;
  height: 576px;
}
.tool_icons {
  div {
    display: flex;
    img {
      display: inline-block;
      padding: 2rem 2rem 0 0;
    }
  }
}
.web_btns {
  position: relative;
  left: 69.5%;
  width: 571px;
  margin: 6rem 0 0 0;
  gap: 1rem;
}
.web_btns li {
  text-align: center;
  width: 200px;
  height: 52px;
  background: var(--color-03);
  border-radius: 10px;
  a {
    display: inline-block;
    line-height: 52px;
    width: 100%;
    height: 100%;
  }
}
.desktop {
  top: 68%;
  left: 25%;
}
.phon {
  top: 93%;
  left: 48%;
}
.web_container {
  margin: 0 0 15rem 0;
}
/* ==============================================info */
.info {
  padding: 84px 0 0 0;
  margin: 15rem 0 0 0;
}
.info h4 {
  text-transform: uppercase;
  font-weight: bold;
}
.info_left h5 {
  margin: 2rem 0 0 0;
  width: 452px;
}
.slogan {
  margin: 0 0 2rem 0;
  line-height: 1.3;
}
.profile_img {
  overflow: hidden;
  border-radius: 50px;
  width: 452px;
  height: 570px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  img {
    width: 100%;
  }
}
.info_right {
  a {
    color: rgb(7, 36, 197);
  }
  p {
    color: var(--color-03);
    font-size: 16px;
    font-weight: bold;
  }
}
.ens {
  margin: 0 0 0 3rem;
}
.exp {
  height: 100%;
  div {
    line-height: 2.3;
  }
}
.skill {
  img {
    border-radius: 10px;
    width: 95px;
  }
}
/* ==============================================footer */
.footer {
  margin: 6rem 0 0 0;
  color: var(--color-01);
}
.footer_bg {
  padding: 2rem 0;
  background: #000;
}
.footer h4 {
  text-transform: uppercase;
  font-weight: bold;
}
.footer_container {
  height: 300px;
}
.footer_left ul {
  height: 215px;
}
.sns_icons {
  li {
    position: relative;
    background: var(--color-01);
    width: 95px;
    height: 95px;
    border-radius: 100px;
    margin: 2rem 0;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  li:nth-child(1) {
    img {
      width: 280%;
      position: absolute;
      top: 60%;
    }
  }
  li:nth-child(2) {
    img {
      width: 100%;
    }
  }
}
.sns_icons li:nth-child(2) {
  margin: 2rem;
}

.footer_logo {
  right: 0%;
}

.kakao_qr {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  img {
    width: 100%;
  }
}

// ===============================mobile
.m_nav_icons {
  display: none;
}

// ================================ media query
@media screen and (max-width: 412px) {
  .header_bg {
    width: 100vw;
    .header_text {
      left: 50%;
      h1 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }
// ==============================nav
.m_nav_icons {
  display: block;
}
.nav_bg {
  .container {
    align-items: stretch;
    > a {
      margin: 0 1rem;
      line-height: 70px;
    }
    i {
      position: absolute;
      margin: 0 1rem;
      right: 0%;
      font-size: 1.8rem;
      line-height: 70px;
    }
  }
  .m_nav_bg {
    position: relative;
    right: -100%;
    top: 70px;
    width: 130px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: all 300ms ease-in-out;
    .nav {
      position: absolute;
      top: 10%;
      flex-direction: column;
      li {
        height: 40px;
        a {
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}
// ===============================m_header_text
.header_bg {
  .header_text {
    white-space: nowrap;
  }
  .tag_imgs {
    img {
      width: 110%;
      top: 17%;
      left: -40%;
      
    }
    img:nth-child(2) {
      transform: translateX(-36%);
    }
    .arrow {
      top: 7%;
      left: 0;
      width: 300%;
      transform: translateX(-81%);
    }
  }
  .center {
    top: -44%;
  }
}
// ===========================popup
.popup {
  .popup_imgs {
    div {
        width: 80%;
    }
    .bann {
      top: 65%;
    }
    .card {
      top: 80%;
    }
    .popa {
      top: 65%;
    }
    .movie {
      width: 100%;
      top: 80%;
    }
  }
}

  // ==============================dwsign
  .design_title {
    overflow: auto;
    gap: 0;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      margin: .5rem;
      font-size: .75rem;
      display: flex;
      align-items: center;
    }
  }
  .main_content {
    ul {
      li {
        margin: 0 .5rem;
        box-shadow: none;
        height: 100px;
      }
    }
  }
  // ==========================web
  .web {
    overflow-x: auto;
    .web_container {
      position: relative;
      margin: 0 0 25rem 0;
    }
    .desktop {
      left: 50%;
      top: 105%;
      transform: translatex(-50%);
      width: 90%;
    }
    .phon {
      top: 120%;
      left: 70%;
    }
    .web_btns {
      margin: 0;
      position: absolute;
      top: 154%;
      left: 20.5%;

      li {
        width: 20%;
      }
    }
    .web_img {
      display: none;
    }
    .tool_icons {
      div {
        display: flex;
        margin: 0 1rem 1rem 1rem;
        justify-content: space-between;
        img {
          padding: 0;
        }
      }
    }
  }

.info {
  .container {
    .d-flex {
      & {
        flex-direction: column;
      }
      .profile_img {
        width: 122px;
        height: 157px;
        border-radius: 0;
        img {
          display: inline-block;
        }
      }
      .info_right {
        .ens {
          margin: 0;
          .skill {
            div {
              flex-direction: row;
              margin: 1rem 1rem;
            }
          }
        }
      }
    }
  }
}
// =============================footer
.sns_icons {
  li {
    width: 50px;
    height: 50px;
  }
}
}
